<!DOCTYPE html>
<html>
  <body>
    <h1>Press Resources</h1>
    <p>
      On December 3rd, 2014, <a href="http://www.heinz.org/" target="_blank">The Heinz Endowments</a> along with <a href="http://www.cmu.edu/" target="_blank">Carnegie Mellon University</a>'s <a href="http://www.cmucreatelab.org/" target="_blank">CREATE Lab</a> will officially launch <a href="http://breatheproject.org/learn/breathe-cam/" target="_blank">Breathe Cam</a> as part of the <a href="http://breatheproject.org/" target="_blank">Breathe Project</a>. Below are a few images, and links to animated gifs and videos related to this launch.
    </p>
    <h2>Image Files</h2>
    <p>Click on the images to view larger versions of them.</p>
    <h3>Clear Day on the North Shore</h3>
    <a href="press/images/clear-big.png" target="_blank">
    <img class="breathe-cam-tutorial" width="600" src="press/images/tutorial_clear.png">
    </a>
    <h3>Hazy Day on the North Shore</h3>
    <a href="press/images/haze-big.png" target="_blank">
    <img class="breathe-cam-tutorial" width="600" src="press/images/tutorial_haze.png">
    </a>
    <h3>"Brown Cloud" Day on the North Shore</h3>
    <a href="press/images/brown-cloud-big.png" target="_blank">
    <img class="breathe-cam-tutorial" width="600" src="press/images/tutorial_brown_cloud.png">
    </a>
    <h3>Foggy Day on the North Shore</h3>
    <a href="press/images/fog-big.png" target="_blank">
    <img class="breathe-cam-tutorial" width="600" src="press/images/tutorial_fog.png">
    </a>
    <br>
    <h2>Animated GIFs</h2>
    <h3>Contrasting Views</h3>
    <h4>Clear vs. Hazy Day</h4>
    <a href="press/images/clear-to-haze-big.gif" target="_blank">
    <img src="press/images/clear-to-haze.gif">
    </a>
    <h4>Clear vs. Clear vs. "Brown Cloud" Day</h4>
    <a href="press/images/clear-to-brown-cloud-big.gif" target="_blank">
    <img src="press/images/clear-to-brown-cloud.gif">
    </a>
    <h4>Clear vs. Foggy Day</h4>
    <a href="press/images/clear-to-fog-big.gif" target="_blank">
    <img src="press/images/clear-to-fog.gif">
    </a>
    <br>
    <h3>Meteorological Phenomena and Human-Made Events</h3>
    <h4>Smog Creating a Layer of Haze over the Ohio River Valley</h4>
    <a href="press/images/smog.gif" target="_blank">
    <img src="press/images/smog.gif">
    </a>
    <h4>A Rainbow Formation</h4>
    <a href="press/images/rainbow.gif" target="_blank">
    <img src="press/images/rainbow.gif">
    </a>
    <h4>Moon Rising over Downtown Pittsburgh</h4>
    <a href="press/images/moonrise.gif" target="_blank">
    <img src="press/images/moonrise.gif">
    </a>
    <h4>Sun Setting over the Horizon</h4>
    <a href="press/images/sunset.gif" target="_blank">
    <img src="press/images/sunset.gif">
    </a>
    <h4>Rain Cloud Passing over Downtown Pittsburgh</h4>
    <a href="press/images/rain-cloud.gif" target="_blank">
    <img src="press/images/rain-cloud.gif">
    </a>
    <h4>Fourth of July Fireworks</h4>
    <a href="press/images/fireworks.gif" target="_blank">
    <img src="press/images/fireworks.gif">
    </a>
    <br>
    <h2>High-Resolution Videos</h2>
    <h3>A Beautiful Day in Downtown Pittsburgh</h3>
    <p>Click <a href="press/videos/downtown1.mp4" target="_blank">here</a> to view this video full-size in a new tab.</p>
    <video width="600" controls>
      <source src="press/videos/downtown1.mp4" type="video/mp4">
    </video>
    <br><br>
    <h3>West Winds Bring a Clear Day to the Mon Valley</h3>
    <p>Click <a href="press/videos/monvalley1.mp4" target="_blank">here</a> to view this video full-size in a new tab.</p>
    <video width="600" controls>
      <source src="press/videos/monvalley1.mp4" type="video/mp4">
    </video>
    <br><br>
    <h3>South Winds Trap Haze/Pollution in the Mon Valley</h3>
    <p>Click <a href="press/videos/monvalley2.mp4" target="_blank">here</a> to view this video full-size in a new tab.</p>
    <video width="600" controls>
      <source src="press/videos/monvalley2.mp4" type="video/mp4">
    </video>
  </body>
</html>